@import 'google-fonts';
@import 'variable-overrides';
@import 'bootstrap/scss/bootstrap';
@import 'sticky-footer';


nav {
  font-family: 'Arial';
}

.body {
  font-family: 'Times new roman';
}

h1,
h2,
h3,
h4,
h5 {
  /* your header font */
  font-family: 'Arial';
  font-size: 25x;

}

p,
{
font-size: 20px;
color: grey;
}

table {
  text-align: left;
  font-size: 15px;
  color: grey;
}

.productFrame {
  padding: 10px;
  justify-content: space-between;
  align-items: center;

  @include make-col-ready();

  @include media-breakpoint-up(md) {
    @include make-col(6);
  }

  @include media-breakpoint-up(lg) {
    @include make-col(4);
  }

  @include media-breakpoint-up(xl) {
    @include make-col(3);
  }

}

.shoppingCartCard {
  border-style: solid;
  border-width: 1px;
  border-color: $secondary;
  border-radius: 10px;
  padding: 10px;
}

table {
  width: 100%;
}

.card-img-top {
  padding: 5px;
  height: 60%;
}

.card {
  width: 100%;
  height: 100%;
  border-style: solid;
}

.card-body {
  text-align: center;
}

.card-footer {
  text-align: right;
  font-size: 15px;
  color: grey;
}

.card-footer button {
  font-size: 15px;
}

.card:hover {
  border-color: $primary;
}

.navbar-brand {
  cursor: pointer;
}